langchain
python-dotenv 
langchain_community
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
ipykernel
langchain_groq
streamlit 
langchain_core
youtube_search
duckduckgo-search
langgraph
yfinance